.App {
  width: 600px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
}

table {
  width: 99%;
  margin: 2rem auto;
  border-collapse: collapse;
}

thead {
  background-color: #2e3a4b;
  color: #f7f7f7;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  text-align: left;
}

td {
  background-color: #f7f7f7;
  color: #333;
}

button,
.add-new-bug-form button {
  background-color: #007bff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
  color: white;
}

button:hover,
.add-new-bug-form button:hover {
  background-color: #0056b3;
}

button:active,
.add-new-bug-form button:active {
  background-color: #004080; /* Slightly darker shade for active state */
}

td[colspan="4"] {
  text-align: center;
  font-weight: bold;
}

.add-new-bug-form {
  padding: 2rem;
  background-color: #f7f7f7;
  margin: 2rem auto;
  width: 91%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.add-new-bug-form label {
  display: block;
  color: #333;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.add-new-bug-form input[type="text"],
.add-new-bug-form select {
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  transition: border-color 0.3s;
  color: #333;
  background-color: white;
}

.add-new-bug-form input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

.statistics-dashboard {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 1rem 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics-dashboard h2 {
  color: #333;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-bottom: 2px solid #007bff;
  padding-bottom: 0.5rem;
}

.statistics-dashboard p {
  color: #555;
  font-size: 1rem;
  margin: 0.5rem 0;
}
