.app {
  width: 600px;
  margin: 0 auto;
}

table {
  width: 99%; /* You can adjust this based on your layout needs */
  margin: 2rem auto;
  border-collapse: collapse;
}

thead {
  background-color: #333;
  color: white;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid #555;
  text-align: left;
}

td {
  background-color: #282c34;
  color: white;
}

button {
  background-color: #61dafb; /* Using the color from App-link for a cohesive look */
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #4fa8d4; /* Slightly darker shade for hover effect */
}

/* If there are no bugs, let's give a little styling to the message */

td[colspan="4"] {
  text-align: center;
  font-weight: bold;
}

.add-new-bug-form {
  padding: 2rem;
  background-color: #333; /* slightly darker than table header for distinction */
  margin: 2rem auto;
  width: 91%; /* adjust as needed */
  border-radius: 5px; /* rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* subtle shadow for depth */
}

.add-new-bug-form label {
  display: block; /* making them block elements */
  color: white;
  margin-bottom: 0.5rem; /* space below each label */
  font-size: calc(10px + 1vmin); /* slightly smaller than main font-size */
}

.add-new-bug-form input[type="text"] {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #555;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  transition: border-color 0.3s;

  /* Font specific styling */
  font-family: "Arial", sans-serif; /* This uses Arial as the primary font, but you can replace it with any other font or font-family. */
  color: #333; /* Color of the text */
  font-weight: bold; /* Normal weight */
  background-color: rgb(175, 215, 248);
}

/* On focus styling */
.add-new-bug-form input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

.add-new-bug-form select {
  width: 100%; /* full width of form */
  padding: 0.5rem;
  border: 1px solid #555;
  border-radius: 5px; /* rounded corners */
  margin-bottom: 1rem; /* space after each input or select */
  color: #333; /* text color */
  background-color: rgb(77, 164, 236); /* input background */
}

.add-new-bug-form button {
  background-color: #61dafb; /* using color from App-link */
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
}

.add-new-bug-form button:hover {
  background-color: #4fa8d4; /* slightly darker shade for hover effect */
}
